@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<div align="center" style="background:white;height:400px;border: solid blue 2px;color:black">

    <h2>@ViewBag.Message</h2>
    <hr />

    <p style="font-size:20px">
        In this Project I have tried to do <b>CRUD</b> operation.<br /> It has Access to multiple tables to fetch and store data.<br />

        We are storing film information.<br />
        In near future we will improve this website with Angular and Bootstrap features.
    </p>
</div>
